# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xm
C:\Users\Usuario\Documents\Universidad\Semestre II\Programación II\Seguimientos\II\Estacionamiento\src\Test\RandomTest.java